spring.datasource.url=jdbc:postgresql://localhost:5432/eventDB
spring.datasource.username=artem_sglv
spring.datasource.password=
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.Postgre11SQLDialect
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
spring.datasource.driver-class-name=org.postgresql.Driver

